<!doctype html>
<html>
<head>
<meta charset=utf-8/>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, height=device-height, user-scalable=yes" />
<style>
body {
  background-color: #2c3338;
  height: 100%;
  margin: 0;
  min-height: 100vh;
}
</style>
</head>
<body>
<script>
setTimeout(function(){
    window.location.href = '{{ url_for("login") }}';
}, 3000);
</script>

</body>

</html>

